@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-default: white;
    --bg-background: black;

    /* color */
    --white: #ffff;
    --gray-900: #0c0c0d;
    --gray-800: #131313;
    --gray-700: #272727;
    --gray-400: #6f6f6f;
    --green-300: #5fb9b0;
    --purple: #b292ff;
  }

  [data-theme='light'] {
    --text-default: black;
    --bg-background: white;
  }
}

@layer base {
  body {
    color: var(--text-default);
    background-color: var(--bg-background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
