@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #121321;
    --text-default: white;
    --text-theme: white;
    --bg-background: black;
    --bg-theme: white;

    /* color */
    --white: #ffff;
    --gray-900: #0c0c0d;
    --gray-800: #131313;
    --gray-700: #272727;
    --gray-400: #6f6f6f;
    --green-300: #5fb9b0;
    --purple: #b292ff;
  }

  [data-theme='light'] {
    --text-default: black;
    --text-theme: black;
    --bg-background: white;
    --bg-theme: black;
  }
}

@layer base {
  body {
    color: var(--text-default);
    background-color: var(--bg-background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.avatar-custom {
  width: 348px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  background-image: linear-gradient(45deg, #08aeea, #2af598, 100%);
  background: url(../../public/images/avatar.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  animation: mor 8s ease-in-out infinite 1s;
}

@keyframes mor {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
